@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:text-white hover:bg-text/10 transition duration-300;
  }
  .hero-ring {
    @apply  absolute inset-0  border-2 border-emerald-300/5 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }
}
@layer utilities {
  .container {
    @apply lg:max-w-5xl
  }
}
*{
  scrollbar-width: thin;
  scrollbar-color: #188A50 #1A202C;
  scroll-behavior: smooth;
}
.hero-span {
  background-image: linear-gradient(
          to right,
          #6EE7B7 20%,
          #fcfaf2 40%,
          #ffe450 60%,
          #52e0a7 80%
  );
  background-size: 200%;
  color: transparent;
  -webkit-background-clip: text;
  animation: shine 15s infinite linear;
}
@keyframes shine {
  from {
    background-position: 0;
  }
  to {
    background-position: 200%;
  }

}